body, html, .root, .App-container {
    background-color: #F2EEE4;
    width: 100%;

}

.App-container, .Welcome-container {
    padding: 0 0;
    margin: 0 0;
}
/*------------------------------------------ Welcome Page */

.Welcome-container {
    width: 100%;
}
.signup-section {
    background-image: url(../images/welcomeImg.jpg);
    background-size: 100%;
    height: 100%;
    position: relative;
    min-height: 870px;
    padding: 0;
    background-repeat: no-repeat;
    width: 100%;
    background-size: cover;
    background-position: 50% 0;
}

.nav-brand {
    margin-right: 30%;
}

li{
  display: inline;  
}

.navbar-brand{
    font-size: 25px;
    padding-left: 3px;
}

.nav-item{
    padding-top: 30px;
}

.nav-item-logo{
    height: 60px;
    margin-bottom: 50px;   
}

.language-globe {
    margin-top: 5px;
    margin-left: 30px;
}

.language{
    width: 70px;
    font-size: 20px;
}

.login{
    color: white;
    padding-top: 37px;
}

.nav-item-login {
    background-color: transparent;
    border: none;
    cursor: pointer;
    text-decoration: none;
    display: inline;
    color: white;
    font-size: 20px;
}

.nav {
    padding-top: 20px;
    color: white;
}

.Welcome-title {
    float: left;
    color: white;
    width: 30%;
    position: absolute;
    z-index: 10;
    top: 40%;
    left: 15%;
    text-shadow: #000000 1px 1px
}

.Welcome-signup {
    width: 300px;
    height: 600px;
    background-color: white;
    position: absolute;
    z-index: 10;
    top: 20%;
    left: 70%;
    padding: 15px;
}

.login-container {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    background-color: rgba(0,0,0, 0.5);
    z-index: 1000;
}

.popup_inner {
    position: absolute;
    left: 25%;
    right: 25%;
    top: 25%;
    bottom: 25%;
    margin: auto;
    background: white;
    padding: 30px;
    z-index: 2001;
    font: black;
}

.popup-logo{
    width: 72px;
    height: 72px;
}

.title-login {
    color: black!important;
}

.login-email, .login-password{
    width: 300px;
}

.login-credentials{
    display: block;
    text-align: center;
}

.form-signin{
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}

.login-button{
    margin-top: 30px;
}

.welcome-example{
    height: 90vh;
    background-color: #B7CA92;
    margin: 0;
    color: white;
    text-align: center;
    width: 100%;
}

.welcome-example-container, .welcome-example-img-container {
    padding-top: 40px;
}

.welcome-example-text-container {
    margin: 0 25%;
}

.welcome-example-title{
    padding-bottom: 20px;
}

[aos="fade"] {
    opacity: 0;
    transition-property: opacity;
  }
  
  [aos="fade"].aos-animate {
    opacity: 1;
}

.welcome-example-img-container{
    width: 700px;
    height: 500px;
    margin: 0 33%;
    display: block;
}

.parents-container, .couple-container{
    display:block;
}

.gdParents {
    position: relative;
    z-index: 1;
}

.gdparents-links{
    position: absolute;
    z-index: 3;
    
}

.gdParents [data-aos] {
    transition-delay: 0.2s;
}

.couple [data-aos] {
    transition-delay: 2s;
}

.couple-div-man {
    float: left;  
}

.div-woman{
   width: 300px;
}

.couple-container{
    height: 300px;
    width: 800px;
    border-right: 0;
    padding-left: 65px;
    display: flex;
}

.couple{
    float: left;
    z-index: 0;
}

.welcome-Documentation {
    height: 80vh;
}

.h-line {
    width: 90px;
    height: 2px;
    background-color: white;
    margin-top: 130px;
    z-index: 3;   
}

.button-family{
    width: 150px;
    height: 70px;
}

footer {
    height: 20vh;
    background-color: #557D90;
}

.link-gdParents {
    padding-top: 37px;
}

.link-couple{
    padding-top: 79px;
}

/* ------------------------------------------ Navbar*/
.Navbar-firstline {
    background-color:#557D90;
    margin: 0;
    padding: 0; 
    display: block;
    height: 20px;
}

.nav-SecondLine{
    background-image: url(../images/background-with-trees.jpg);
    height: 100%;
    background-repeat: no-repeat;
    background-size: 100%;
    position: relative;
    background-size: cover;
    background-position: 30% 60%;
    width: 100%;
    min-height: 300px;    
}

.name-container, 
.User-Welcome, 
.language-container, 
.language-name-container, 
.language-icon-container, 
.language-icon,
.language-name,
.buttons-container
{
    display: inline;
    padding-left: 4px;
}

.language-container, .buttons-container{
    float: right;
    width: 25%;
}

.nav-logout{
    padding: 0;
    padding-left: 300px;
}

.logout-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    text-decoration: none;
    display: inline;
    padding-left: 33%;
}

.language-container {
    padding-left: 100px;
}

.nav-branding{
    display: block;
    padding-left: 40%;
    padding-top: 100px;
}

.nav-branding-logo, .nav-branding-name{
    display: inline-block;
}

.nav-branding-name{
   color: white!important;
   -webkit-text-stroke: 0.5px black;
}

.Navbar-whereamI{
    height: 50px;
    background-color: white;
}

.nav-link {
    margin-bottom: 1px;
}

.folders{
    margin-left: 33%;
    width: 900px;
    padding-top: 13px;
    position: absolute;
    bottom: 0;
    font-size: 20px;
}

/* ------------------------------------------ Individuals*/

.NewIndividual-form {
    border: 1px solid black;
    padding: 20px 20px;
    margin: 20px;
    height: 550px;
    width: 250px;
}

.orgchart ul {
    padding-top: 20px; 
    position: relative;
	
	transition: all 0.5s;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
}

.IndividualItem-button {
    background-color: transparent;
    border: none;
    cursor: auto;
    text-decoration: none;
    border-style: solid ;
    border-width: 1px;
    border: #ccc;
}

.orgchart li {
    float: left; 
    text-align: center;
	list-style-type: none;
	position: relative;
    padding: 25px 50px 0 50px;
    
	
	transition: all 0.5s;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
}

.orgchart li::before, .orgchart li::after{
	content: '';
	position: absolute; top: 0; right: 50%;
	border-top: 1px solid #ccc;
	width: 50%; height: 20px;
}

.orgchart li::after{
	right: auto; left: 50%;
	border-left: 1px solid #ccc;
}

.orgchart li:only-child::after, 
.orgchart li:only-child::before {
	display: none;
}

/*Remove space from the top of single children*/
.orgchart li:only-child{ padding-top: 0;}

/*Remove left connector from first child and 
right connector from last child*/
.orgchart li:first-child::before, .orgchart li:last-child::after{
	border: 0 none;
}
/*Adding back the vertical connector to the last nodes*/
.orgchart li:last-child::before{
	border-right: 1px solid #ccc;
	border-radius: 0 5px 0 0;
	-webkit-border-radius: 0 5px 0 0;
	-moz-border-radius: 0 5px 0 0;
}
.orgchart li:first-child::after{
	border-radius: 5px 0 0 0;
	-webkit-border-radius: 5px 0 0 0;
	-moz-border-radius: 5px 0 0 0;
}

/* add downward connectors from parents*/
.orgchart ul ul::before{
	content: '';
	position: absolute; top: 0; left: 50%;
	border-left: 1px solid #ccc;
	width: 0; height: 20px;
}

.orgchart li a{
	border: 1px solid #ccc;
	padding: 5px 10px;
	text-decoration: none;
	color: #666;
	font-family: arial, verdana, tahoma;
	font-size: 11px;
	display: inline-block;
	
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	
	transition: all 0.5s;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
}

/* hover effects*/
/*apply the hover effect the the lineage of the element also*/
.orgchart li a:hover, .orgchart li a:hover+ul li a {
	background: #c8e4f8; color: #000; border: 1px solid #94a0b4;
}
/*Connector styles on hover*/
.orgcharte li a:hover+ul li::after, 
.orgchart li a:hover+ul li::before, 
.orgchart li a:hover+ul::before, 
.orgchart li a:hover+ul ul::before{
	border-color:  #94a0b4;
}

/*Thats all. I hope you enjoyed it.
Thanks :)*/